.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImage {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}

.card:hover .cardImage {
  transform: scale(1.05);
}

.cardContent {
  padding: 1rem;
  text-align: center;
}

.logoContainer {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.artistName {
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: bold;
}
