.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  z-index: 1000;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.nav a {
  margin-left: 1.5rem;
  color: #000;
  text-decoration: none;
}

.nav a:hover {
  color: #555;
}

.navButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 1.5rem; /* Link와 동일한 간격 유지 */
  color: #000; /* 아이콘 색상 유지 */
}

.navButton:hover {
  color: #555; /* 호버 시 색상 변경 */
}