.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  height: auto;
  max-height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #333;
  position: relative;
  display: flex;
  flex-direction: column;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: -30px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff; /* White color for visibility on dark overlay */
  z-index: 1001;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  color: #333;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIconInsideInput {
  position: absolute;
  left: 10px;
  color: #888;
}

.searchInput {
  padding: 8px 8px 8px 35px; /* Adjust padding to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 999px; /* Make the ends circular */
  width: 100%;
}

.searchButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.allArtistsScroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.artistNameTag {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 15px;
  margin-right: 10px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.activeTag {
  background-color: #0070f3;
  color: white;
}

.selectedArtistInfo {
  text-align: left;
  overflow-y: auto;
  flex-grow: 1;
}

.selectedArtistInfo > p {
  font-size: min(2vw, 24px);
  font-weight: bold;
  margin-bottom: 15px;
}

.artistDetailGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
}

.artistDetail {
  text-align: center;
}

.artistImage {
  width: 100px;
  height: 100px;
  background: rgb(230, 230, 230);
  border-radius: 50%;
  margin: 0 auto 10px;
  overflow: hidden;
  position: relative;
}

.artistImage img {
    object-fit: cover;
}

.artistDetailName {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}
