
.artistPostCard {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.artistImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  background: #fff;
}

.date {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.month {
  font-size: 12px;
  color: #888;
}

.rightContent {
  flex-grow: 1;
  position: relative;
}

.messageBubble {
  background-color: #e0e0e0;
  border-radius: 0 8px 8px 8px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: left;
}

.messageBubble::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #e0e0e0 transparent transparent;
}

.msgContent {
  padding: 15px;
}

.bubbleArtistName {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.bubblePostContent {
  margin-bottom: 10px;
}

.bubbleImage {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.bubbleimgsrc {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bubblePostDateTime {
  font-size: 12px;
  color: #888;
  text-align: left;
  display: block;
  margin-block: 10px;
}
