
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  color: black;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.followButton {
  background-color: #8970d0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.followButton:hover {
  background-color: #7a5bbd;
}

.section2 {
  display: flex;
  gap: 20px;
}

.section2 .leftSection {
  flex: 2;
  border-radius: 8px;
  padding-right: 10px;
}

.postInputContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background: #a1a1a1;
}

.postInput {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background: #Fff;
  color: black;
}

.iconButtons {
  display: flex;
  gap: 10px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #8970d0;
}

.subTabNav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.subTabButton {
  flex: 1;
  padding: 10px 0;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.subTabButton.activeSubTab {
  color: #8970d0;
  font-weight: bold;
  border-bottom: 2px solid #8970d0;
}

.sortContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.sortSelect {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentsSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.momentSection {
  margin-bottom: 20px;
}

.momentTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: left;
}

.momentImages {
  display: flex;
  gap: 10px;
}

.momentImageSrc {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.momentImage {
  flex: 1;
  height: 150px; /* Adjust height as needed */
  border-radius: 8px;
  background-color: #ccc; /* Default placeholder color */
}

.bannerImage {
  width: 100%;
  height: 500px; /* or a fixed height if preferred */
  border-radius: 8px;
  margin-top: 20px; /* Add some space above the image */
}

.section2 .rightSection {
  flex: 1;
  padding-left: 10px;
}
